<div>
  <div class="uk-card uk-card-default uk-card-large uk-card-body uk-card-hover">

    <div class="text-center">
      <span uk-icon="icon: warning; ratio: 3.5" class="mb-4"></span>
      <p>Report an Issue</p>
      <small>click here to contact our team</small>
    </div>

  </div>
</div>