@import url('https://fonts.googleapis.com/css?family=Monoton');


.navbar {
    background-color: #1d449d !important;
}

.title {
   font-family: 'Monoton', cursive; 
   color: white;
}

.right {
    float: right;
}

.profile {
    color: white;

    span {
        margin-right: 1em;
        margin-left: 1em;
    }
}

.logout {
    cursor: pointer;
}