<nav class="navbar sticky-top">
  <a class="navbar-brand" href="#">
    <h3 class="title">{{ title | uppercase }}</h3>
  </a>

  <div class="profile right" *ngIf="authService.isLoggedIn()">
    <span>Wallet Balance:</span>
    <span class="uk-badge">{{userDetails.walletBallance | currency:'$' }}</span>
    <span> | </span>
    <span class="">{{userDetails.username}}</span>
    <span *ngIf="!authService.isLoggedIn" (click)="authService.SignOut()" class="logout">
      Logout
    </span>
  </div>  

  <div class="profile right" *ngIf="!authService.isLoggedIn()">
      <span>Your Daily Companion</span>
    </div>  

</nav>
