
<div class="sidebar">
  <a routerLink="/home"><span uk-icon="thumbnails"></span> &nbsp; Dashboard</a>

  <a routerLink="/create-new"><span uk-icon="plus-circle"></span> &nbsp; New Bill</a>

  <a routerLink="/history"> <span uk-icon="history"></span> &nbsp; History</a>

  <a routerLink="/about"> <span uk-icon="info"></span> &nbsp; About</a>

  <a routerLink="/settingd"> <span uk-icon="cog"></span> &nbsp; Settings</a>

  <a routerLink="/merchant" *ngIf="authorised"> <span uk-icon="cog"></span> &nbsp; See Merchant View</a>

  <a (click)="authService.SignOut()"> <span uk-icon="sign-out"></span> &nbsp; Log Out</a>

</div>
