@import url('https://fonts.googleapis.com/css?family=Poppins');

.stepper {
    padding:2em;
    font-family: 'Poppins', sans-serif !important;
    width: 80%;
    margin: 1em auto;
    height: 100%;
}

.mat-stepper-horizontal, .mat-stepper-vertical {
    display: block;
    padding: 1em;
}

.mat-form-field {
    padding: 1em;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
.mat-form-field {
    width: 100%;
}