<div class="stepper">
  <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">

    <mat-step [stepControl]="billDetailsForm">
      <form [formGroup]="billDetailsForm" class="uk-form-stacked">
        <ng-template matStepLabel>New Bill Details</ng-template>

          <div class="uk-margin">
            <mat-form-field>
              <input matInput placeholder="e.g Mall Fee" type="text" class="example-right-align" formControlName='billName'>
              <mat-hint>Enter name of bill</mat-hint>
            </mat-form-field>
          </div>
      
          <div class="uk-margin">
            <mat-form-field>
              <input matInput placeholder="e.g ID00000" type="text" class="example-right-align" formControlName='merchantID'>
              <mat-hint>Enter merchant ID</mat-hint>
            </mat-form-field>
          </div>
        
        <div>
          <button mat-button matStepperNext mat-raised-button color='primary'>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="splittingForm">
      <form [formGroup]="splittingForm">
        <ng-template matStepLabel>Split Bill</ng-template>
          <div class="form">
            <mat-checkbox> Equal split</mat-checkbox>
            <br>
            <small class="text-muted">split bill equally with your friends</small>
            <div class="row uk-margin">
              <div class="col">
                <mat-form-field>
                  <input matInput placeholder="Amount" type="number" class="example-right-align" formControlName="totalAmount">
                  <span matPrefix>$&nbsp;</span>
                  <span matSuffix>.00</span>
                  <mat-hint>Enter amount billed by merchant</mat-hint>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field>
                  <mat-label>Select Friends</mat-label>
                  <mat-select multiple formControlName="friends">
                    <mat-option *ngFor="let user of userList" [value]="user.id">{{user.username}}</mat-option>
                  </mat-select>
                  <mat-hint>Select friends to split with</mat-hint>
                </mat-form-field>
              </div>
            </div>

            <!-- <div class="row uk-margin">
              <div class="col">
                <mat-form-field>
                  <input matInput placeholder="Individual bill" type="number" class="example-right-align">
                  <span matPrefix>$&nbsp;</span>
                  <span matSuffix>.00</span>
                  <mat-hint>Enter amount billed by merchant</mat-hint>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field>
                  <input matInput placeholder="" type="number" class="example-right-align">
                  <mat-hint>Number of friends to split with</mat-hint>
                </mat-form-field>
              </div>
            </div> -->
          </div>
        <div>
          <button mat-button matStepperPrevious mat-raised-button class="mr-4">Back</button>
          <button mat-button matStepperNext mat-raised-button color='primary' (click)="setAmount(splittingForm.value)">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Confirm Details</ng-template>
      <div class="row uk-margin">
        <div class="col">
          <p>Bill Name: {{nameOfBill}} </p>
        </div>
        <div class="col">
          <p>Type: Equal Split </p>
        </div>
      </div>

      <div class="row uk-margin">
        <div class="col">
          <p>Number of Friends: {{numberOfFriends}}</p>
        </div>
        <div class="col">
          <p>Individual Bill: ${{individualBill}}</p>
        </div>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button mat-raised-button color='primary' (click)="onSubmitBill(billDetailsForm.value, splittingForm.value); stepper.reset()">Confirm</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>