<div>
  <div class="uk-card uk-card-default uk-card-large uk-card-body uk-card-hover">
    <h4 style="color: #2F3061;">Pending Bill</h4>
    <table class="uk-table uk-table-middle uk-table-divider">
      <thead>
        <tr>
          <th class="uk-width-small">Bill Name</th>
          <th>Bill Total</th>
          <th>Your Bill</th>
          <th>Expiry</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bill of pendingBills">
          <td>{{bill.billName}}</td>
          <td>{{bill.totalAmount}}</td>
          <td>${{bill.sharedAmount}}</td>
          <td>2 Days</td>
          <td *ngIf="bill.paid"><button class="uk-button uk-button-success" type="button">PAID</button></td>
          <td *ngIf="!bill.paid"><button class="uk-button uk-button-danger" type="button" (click)="onPay(bill)">PENDING</button></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
