<div class="history">
  <div class="uk-card uk-card-default uk-card-large uk-card-body uk-card-hover">
    <h4 style="color: #2F3061;">Transaction History</h4>
    <table class="uk-table uk-table-middle uk-table-divider uk-table-striped">
      <thead>
        <tr>
          <th class="uk-width-small">Bill Name</th>
          <th>Amount</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>BeerHuggz</td>
          <td>$500.00</td>
          <td><button class="uk-button uk-button-primary" type="button">View Details</button></td>
        </tr>
        <tr>
          <td>Circle Mall</td>
          <td>$1,200.00</td>
          <td><button class="uk-button uk-button-primary" type="button">View Details</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  