<!-- <footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer> -->


<footer class="pt-4 my-md-5 pt-md-5 border-top footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md">
          <h3 class="title">{{ title | uppercase }}</h3>
          <small class="d-block mb-3 text-muted">&copy;2019</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" routerLink ="/create-new">Create New Bill</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Resource</a></li>

        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Our Team</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>