<div class="stat-card">

  <div class="uk-child-width-1-3@s uk-grid-match" uk-grid>
      <div>
          <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-card-hover text-center">
              <h3 class="uk-card-title">Transactions</h3>
              <h3>02</h3>
          </div>
      </div>
      <div>
          <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-card-hover text-center">
              <h3 class="uk-card-title">Friends In Circle</h3>
              <h3>01</h3>
          </div>
      </div>
      <div>
        <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-card-hover text-center">
          <h3 class="uk-card-title">Pending Bills</h3>
          <h3>02</h3>
        </div>
      </div>
  </div>
  
</div>