div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: auto;
    background-color: #EEEEEE;
}

@media only screen and (max-width: 900px) {
    div.content {
        margin-left: 0px;
        padding: 1px 16px;
        height: auto;
    }
}