<app-main-header></app-main-header>

<app-sub-header *ngIf="authService.isLoggedIn()"></app-sub-header>

<div class="content">
    <router-outlet></router-outlet>

    <app-footer></app-footer>
</div>

