
<div id="dashboard">
    <app-stat-cards></app-stat-cards>

    <div class="transaction-cards">
        <div class="row">
            <div class="col-lg-6">
                <app-transaction-history></app-transaction-history>
            </div>
            <div class="col-lg-6">
                <app-pending-bills></app-pending-bills>
            </div>
        </div>
    </div>

    <div class="action-cards">
        <div class="row">
            <div class="col-lg-6">
                <app-create-new-bill></app-create-new-bill>
            </div>
            <div class="col-lg-6">
                <app-report-new-issue></app-report-new-issue>
            </div>
        </div>
    </div>
    
</div>
