
#dashboard {
    padding: 2em;
    // margin-left: 200px;

    .transaction-cards {
        margin-top: 3em;
    }

    .action-cards {
        margin-top: 3em;
    }
}

@media only screen and (max-width: 900px) {
    
    #dashboard {
        padding: 1em;
        margin-left:  0px;
    
        .transaction-cards {
            margin-top: 3em;
        }
    
        .action-cards {
            margin-top: 3em;
        }
    }
} 