<div routerLink="/create-new" class="create">
  <div class="uk-card uk-card-default uk-card-large uk-card-body uk-card-hover">

    <div class="text-center">
        <span uk-icon="icon: plus-circle; ratio: 3.5" class="mb-4"></span>
        <p>Create New Bill</p>
        <small>split bill with your friends</small>
    </div>

  </div>
</div>