<div id="loginPage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 loginArea">
        <div class="loginContent">
          <div class="brand">
            <h3>Monami</h3>
          </div>

          <div class="formArea">
            <div class="title">
              <p>Sign In</p>
            </div>
            <div class="signUpForm">

              <br>
              <form [formGroup] = "loginForm">
                <div class="uk-margin usernameLine">
                  <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: mail"></span>
                    <input class="uk-input uk-form-width-large" type="email" formControlName="email" placeholder="Email" required>
                  </div>
                </div>
<!-- 
                <div class="uk-margin usernameLine">
                  <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    <input class="uk-input uk-form-width-large" type="text" formControlName="username" placeholder="Username" required>
                  </div>
                </div> -->
          
                <div class="uk-margin passwordLine">
                    <div class="uk-inline">
                        <span class="uk-form-icon uk-form-icon" uk-icon="icon: lock"></span>
                        <input class="uk-input uk-form-width-large" type="password" formControlName="password" placeholder="Password"  required>
                    </div>
                </div>

                <!-- <div class="uk-margin passwordLine">
                  <div class="uk-inline">

                    <select class="" formControlName='userType' required>
                      <option value="" disabled>Select User Type</option>
                      <option>User</option>
                      <option>Merchant</option>
                    </select>
                  </div>
                </div> -->

                <div class="submitArea">
                  <span>forgot password?</span>
                  <button class="uk-button uk-button-default" type="submit" [disabled]="!loginForm.valid" (click)="authService.SignIn(loginForm.controls.email.value, loginForm.controls.password.value)">Sign In</button>
                </div>
              </form>
            </div>
          </div>

          <div class="registerBox">
            <p>Don’t have an account? <b>Sign Up</b></p>
          </div>
        </div>
      </div>
      <div class="col-md-8 imageArea">
        
      </div>
    </div>
  </div>
</div>
  