/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Poppins');


html, body {
    background: #EEEEEE;
    font-family: 'Poppins', sans-serif !important;
}

mat-horizontal-stepper {
    font-family: 'Poppins', sans-serif !important;
}